# Ignoriere Dateien für git 
*.csv
*.jpg
*.png
*.zip
# Abgespeicherte Faltungsnetze
modell_versuch1_1_1
modell_versuch1_1_2
modell_versuch1_1_3
modell_versuch1_1_4
modell_versuch1_1_5
modell_versuch1_1_6
modell_versuch1_1_7
modell_versuch1_1_8
modell_versuch1_1_9
modell_versuch1_2_1
modell_versuch1_2_2
modell_versuch1_2_3
modell_versuch1_2_4
modell_versuch1_2_5
modell_versuch2_2_1
modell_versuch2_2_2
modell_versuch2_2_3
modell_versuch2_2_4
modell_versuch2_2_5_1
modell_versuch2_2_5_2
modell_versuch2_2_5_3
modell_versuch2_2_5_4
modell_versuch2_2_6
modell_versuch2_2_7
modell_versuch2_2_8_1
modell_versuch2_2_8_2
modell_versuch2_2_8_3
modell_versuch2_2_8_4
modell_versuch2_2_9_1
modell_versuch2_2_9_2
modell_versuch2_2_10_1
modell_versuch2_2_10_2
modell_versuch2_2_10_2
modell_versuch2_3_1
modell_versuch2_3_2
modell_versuch2_3_3
modell_versuch2_3_4
modell_versuch2_3_5
modell_versuch2_3_6_1´
modell_versuch2_3_6_2
modell_versuch2_3_7_1
modell_versuch2_3_7_2
modell_versuch2_3_7_3
modell_versuch2_3_8
modell_versuch3_1
modell_versuch3_2
modell_versuch3_3
modell_versuch3_4
# Ausnahmen / Bilder
!funktionaleArchitektur.png
!sensorOrientierung.png
!dataAugmentation0_1.jpg
!dataAugmentation0_3.jpg
!dataAugmentation1_0.jpg
!konfusionsmatrix_versuch1_1_9.png
!accuracy_versuch1_2_1.png
!accuracy_versuch1_2_2.png
!accuracy_versuch1_2_3.png
!accuracy_versuch1_2_4.png
!accuracy_versuch1_2_5.png
!konfusionsmatrix_versuch1_2_1.png
!konfusionsmatrix_versuch1_2_2.png
!konfusionsmatrix_versuch1_2_3.png
!konfusionsmatrix_versuch1_2_4.png
!konfusionsmatrix_versuch1_2_5.png
!loss_versuch1_2_1.png
!loss_versuch1_2_2.png
!loss_versuch1_2_3.png
!loss_versuch1_2_4.png
!loss_versuch1_2_5.png
!1523020542579.jpg
!1521124101218.jpg
!unbefestigt_testbilder.jpg
!konfusionsmatrix_versuch3_1_modell1_9.png
!konfusionsmatrix_versuch3_1_modell2_3.png
!konfusionsmatrix_versuch3_2_modell1_9.png
!konfusionsmatrix_versuch3_3_modell2_3.png
!konfusionsmatrix_versuch3_3_modell2_4.png
!konfusionsmatrix_versuch3_4_modell2_4.png
!MTBBildausschnitt.png
!CyclocrossBildausschnitt.png
!AbsolutBetragMesswerteMittelwertZAchse.png
!MittelwerteZAchseOhneAbs.png
!KorrelationGeschwindigkeitZAchseBeschleunigung.png
!histogrammGeschwidigkeitDatensatz15_22
!histogrammRelativeHaeufigkeitGeschwidigkeitDatensatz15_22.png
!mittelwerteZeitlicherAblaufTDynamischesZeitfenster.png
!mittelwerteZeitlicherAblaufT500.png
!konfmatrixVersuch2_2_5_2.png
!konfmatrixVersuch2_2_6.png
!konfmatrixVersuch2_2_7.png
!konfmatrixVersuch2_2_8.png
!trainingshistorieAccuracyVersuch2_2_7.png
!mittelwerteZeitlicherAblaufT80.png
!timeframeLengthDiagram.png
!sensorSamples.png
!bildaufnahmeSkaliertDynamischesZeitfenster.png
!ueberbelichteteBilderDatensatz41.png
!unterbelichteteBilderDatensatz41.png
!histogrammRelativeHaeufigkeitGeschwidigkeitDatensatz37_42.png
!korrelationGeschwindigkeitStandardabweichungZAchseBeschleunigung37_42.png
!histogrammStandardabweichung.png
!leichteErschuetterungReferenzstrecke.png
!schwereErschuetterungReferenzstrecke.png
!fahrqualitaetVersuch2_1_2.png
!fuzzifizierungVersuch2_1_2.png
!defuzzifizierungValue3_Versuch2_1_2.png
!trainingshistorieAccuracyVersuch2_2_1.png
!trainingshistorieLossVersuch2_2_1.png
!histogrammKlassenVersuch2_2_4.png
!konfmatrixVersuch2_2_1.png
!konfmatrixVersuch2_2_2.png
!konfmatrixVersuch2_2_3.png
!histogrammKlassenFuzzyVersuch2_1_3.png
!fahrqualitaetVersuch2_1_3.png
!fuzzifizierungGeschwindigkeitVersuch2_1_3.png
!fahrqualitaetVersuch2_1_4.png
!fuzzifizierungZAchseVersuch2_1_4.png
!fuzzifizierungZAchseVersuch2_1_6.png
!histogrammKlassenFuzzyVersuch2_1_5.png
!histogrammKlassenFuzzyVersuch2_1_4.png
!fahrqualitaetVersuch2_1_5.png
!karteDatensatz43_45_bis_51.png
!karteDatensatz37_bis_42.png
!konfmatrixVersuch2_2_9_1.png
!konfmatrixVersuch2_2_9_2.png
!konfmatrixVersuch2_2_10_1.png
!konfmatrixVersuch2_2_10_2.png
!konfmatrixVersuch2_3_1.png
!konfmatrixVersuch2_3_2.png
!trainingshistorieAccuracyVersuch2_3_1.png
!trainingshistorieLossVersuch2_3_1.png
!histogrammKlassenFuzzyVersuch2_1_4_1.png
!konfmatrixVersuch2_3_4.png
!trainingshistorieAccuracyVersuch2_3_4.png
!trainingshistorieLossVersuch2_3_4.png
!karteFuzzyVersuch4_datensatz37_bis_42.png
!karteFuzzyVersuch2_1_4_datensatz43_45_bis_51.png
!karteFuzzyVersuch2_1_4_2Klassen_datensatz43_45_bis_51.png
!trainingshistorieAccuracyVersuch2_3_5.png
!trainingshistorieLossVersuch2_3_5.png
!trainingshistorieAccuracyVersuch2_3_6_1.png
!trainingshistorieLossVersuch2_3_6_1.png
!histogrammKlassenFuzzyVersuch2_1_5_1.png
!konfmatrixVersuch2_3_6_1.png
!konfmatrixVersuch2_3_6_2.png
!trainingshistorieAccuracyVersuch2_3_6_2.png
!trainingshistorieLossVersuch2_3_6_2.png
!trainingshistorieAccuracyVersuch2_3_7_1.png
!trainingshistorieLossVersuch2_3_7_1.png
!trainingshistorieAccuracyVersuch2_3_7_2.png
!trainingshistorieLossVersuch2_3_7_2.png
!trainingshistorieAccuracyVersuch2_3_7_3.png
!trainingshistorieLossVersuch2_3_7_3.png
!konfmatrixVersuch2_3_7.png
!konfmatrixVersuch2_3_8.png
!karteFuzzyVersuch2_1_4_datensatz52.png
!karteFuzzyVersuch2_1_4_datensatz52Abschnitt.png
!karteFuzzyVersuch2_1_6_datensatz52Abschnitt.png
!1521124076409.jpg
!trainingshistorieAccuracyVersuch3_1.png
!trainingshistorieLossVersuch3_1.png
!konfmatrixVersuch3_1.png
!trainingshistorieAccuracyVersuch3_2.png
!trainingshistorieLossVersuch3_2.png
!trainingshistorieAccuracyVersuch3_3.png