# Ignoriere Dateien für git 
*.csv
*.jpg
*.png
*.zip
# Abgespeicherte Faltungsnetze
modell_versuch1_1
modell_versuch1_2
modell_versuch1_3
modell_versuch1_4
modell_versuch1_5
modell_versuch1_6
modell_versuch1_7
modell_versuch1_8
modell_versuch1_9
modell_versuch2_1
modell_versuch2_2
modell_versuch2_3
modell_versuch2_4
modell_versuch2_5
modell_versuch4_1
modell_versuch4_2
modell_versuch4_3
modell_versuch4_4
modell_versuch4_5_1
modell_versuch4_5_2
modell_versuch4_5_3
modell_versuch4_5_4
modell_versuch4_6
modell_versuch4_7
modell_versuch4_8_1
modell_versuch4_8_2
modell_versuch4_8_3
modell_versuch4_8_4
modell_versuch4_9
modell_versuch4_10
# Ausnahmen / Bilder
!funktionaleArchitektur.png
!sensorOrientierung.png
!dataAugmentation0_1.jpg
!dataAugmentation0_3.jpg
!dataAugmentation1_0.jpg
!konfusionsmatrix_versuch1_9.png
!accuracy_versuch2_1.png
!accuracy_versuch2_2.png
!accuracy_versuch2_3.png
!accuracy_versuch2_4.png
!accuracy_versuch2_5.png
!konfusionsmatrix_versuch2_1.png
!konfusionsmatrix_versuch2_2.png
!konfusionsmatrix_versuch2_3.png
!konfusionsmatrix_versuch2_4.png
!konfusionsmatrix_versuch2_5.png
!1523020542579.jpg
!1521124101218.jpg
!unbefestigt_testbilder.jpg
!konfusionsmatrix_versuch3_1_modell1_9.png
!konfusionsmatrix_versuch3_1_modell2_3.png
!konfusionsmatrix_versuch3_2_modell1_9.png
!konfusionsmatrix_versuch3_3_modell2_3.png
!konfusionsmatrix_versuch3_3_modell2_4.png
!konfusionsmatrix_versuch3_4_modell2_4.png
!MTBBildausschnitt.png
!CyclocrossBildausschnitt.png
!AbsolutBetragMesswerteMittelwertZAchse.png
!MittelwerteZAchseOhneAbs.png
!KorrelationGeschwindigkeitZAchseBeschleunigung.png
!histogrammGeschwidigkeitDatensatz15_22
!histogrammRelativeHaeufigkeitGeschwidigkeitDatensatz15_22.png
!mittelwerteZeitlicherAblaufTDynamischesZeitfenster.png
!mittelwerteZeitlicherAblaufT500.png
!konfmatrixVersuch4_10.png
!konfmatrixVersuch4_9.png
!konfmatrixVersuch4_8_2.png
!trainingshistorieAccuracyVersuch4_10.png
!mittelwerteZeitlicherAblaufT80.png
!timeframeLengthDiagram.png
!sensorSamples.png
!bildaufnahmeSkaliertDynamischesZeitfenster.png
!ueberbelichteteBilderDatensatz41.png
!unterbelichteteBilderDatensatz41.png
!histogrammRelativeHaeufigkeitGeschwidigkeitDatensatz37_42.png
!korrelationGeschwindigkeitStandardabweichungZAchseBeschleunigung37_42.png
!histogrammStandardabweichung.png
!leichteErschuetterungReferenzstrecke.png
!schwereErschuetterungReferenzstrecke.png
!fahrqualitaetVersuch2.png
!fuzzifizierungVersuch2.png
!defuzzifizierungValue3_Versuch2.png
!trainingshistorieAccuracyVersuch4_1.png
!trainingshistorieLossVersuch4_1.png
!histogrammKlassenVersuch4_2.png
!konfmatrixVersuch4_1.png
!konfmatrixVersuch4_2.png
!konfmatrixVersuch4_3.png
!histogrammKlassenFuzzyVersuch3.png
!fahrqualitaetVersuch3.png
!fuzzifizierungGeschwindigkeitVersuch3.png
!fahrqualitaetVersuch4.png
!fuzzifizierungZAchseVersuch4.png
!histogrammKlassenFuzzyVersuch4.png